

#gameCanvas canvas {
    position: absolute;
    left: 0px;
    top: 0px;
}
#btnSound {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 52px;
    height: 52px;
    background:url("images/icon.png") -331px -132px;
}

#sound{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 52px;
    height: 52px;
    background: url("images/icon.png")-331px -132px;
}

#audioplay{
    display: block;
    position: absolute;
    right: 90px;
    top: 30px;
    width: 52px;
    height: 52px;
    background: url("images/icon.png")-331px -78px;
}
#btnHelp {
    display: block;
    position: absolute;
    right: 200px;
    top: 300px;
    width: 180px;
    height: 70px;
    background: url("images/icon.png") -12px -620px;
}
#btnHelp:hover {
    background:url("images/icon.png") -191px -620px;
}
#btnAboutMe {
    display: block;
    position: absolute;
    right: 200px;
    top: 400px;
    width: 180px;
    height: 70px;
    background:url("images/icon.png") -14px -835px;
}
#btnAboutMe:hover {
    background:url("images/icon.png") -194px -835px;
}

#HelpDiv{
    display:none;
    position:absolute;
    left:5px;
    top:20px;
}

#audiostop {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    width: 52px;
    height: 52px;
    background:url("images/icon.png") -331px -132px;
}

#btnPlay {
    display: block;
    position: absolute;
    right: 200px;
    top: 205px;
    width:180px;
    height:70px;
    background:url("images/icon.png") -12px -693px;
}
#btnPlay:hover {
    background:url("images/icon.png") -192px -693px;
}

#gameBody {
    display: none;
}

.button{
    border:0px;
}

#level{
    position:relative;
    margin:50px auto;
    width:750px;
    height:550px;
}
#level .background {
}
#level .block {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 750px;
    height: 550px;
}

#level1 {
    display: block;
    position: absolute;
    left: 60px;
    top: 80px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -19px -110px;
    background-size: 1200%;
}
#level1.hove{
    background-color: red;
}
#level2 {
    display: block;
    position: absolute;
    left: 143px;
    top: 80px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -79px -120px;
    background-size: 1200%;
}

#level3 {
     display: block;
     position: absolute;
     left: 226px;
     top: 80px;
     width: 53px;
     height: 53px;
     background:url("images/level3.jpg") -139px -120px;
     background-size: 1200%;
 }
#level4 {
    display: block;
    position: absolute;
    left: 309px;
    top: 80px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -199px -120px;
    background-size: 1200%;
}
#level5 {
    display: block;
    position: absolute;
    left: 392px;
    top: 80px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -260px -120px;
    background-size: 1200%;
}
#level6 {
    display: block;
    position: absolute;
    left: 475px;
    top: 80px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -320px -120px;
    background-size: 1200%;
}
#level7 {
    display: block;
    position: absolute;
    left: 558px;
    top: 80px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -380px -120px;
    background-size: 1200%;
}
#level8 {
    display: block;
    position: absolute;
    left: 641px;
    top: 80px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -440px -120px;
    background-size: 1200%;
}


#level9 {
    display: block;
    position: absolute;
    left: 60px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -502px -120px;
    background-size: 1200%;
}
#level10 {
    display: block;
    position: absolute;
    left: 143px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -562px -120px;
    background-size: 1200%;
}
#level11 {
    display: block;
    position: absolute;
    left: 226px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -19px -201px;
    background-size: 1200%;
}
#level12 {
    display: block;
    position: absolute;
    left: 309px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -79px -201px;
    background-size: 1200%;
}
#level13 {
    display: block;
    position: absolute;
    left: 392px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -139px -201px;
    background-size: 1200%;
}
#level4 {
    display: block;
    position: absolute;
    left: 475px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -200px -201px;
    background-size: 1200%;
}
#level15 {
    display: block;
    position: absolute;
    left: 558px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -260px -201px;
    background-size: 1200%;
}
#level16 {
    display: block;
    position: absolute;
    left: 641px;
    top: 186px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -320px -203px;
    background-size: 1200%;
}
#level17 {
    display: block;
    position: absolute;
    left: 60px;
    top: 289px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -380px -202px;
    background-size: 1200%;
}
#level18 {
    display: block;
    position: absolute;
    left: 143px;
    top: 289px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -440px -202px;
    background-size: 1200%;
}

#level19 {
    display: block;
    position: absolute;
    left: 226px;
    top: 289px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -502px -201px;
    background-size: 1200%;
}
#level20 {
    display: block;
    position: absolute;
    left: 309px;
    top: 289px;
    width: 53px;
    height: 53px;
    background:url("images/level3.jpg") -562px -202px;
    background-size: 1200%;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: green;
}

.flags {
    background-position: top right;
    max-height: 30px;
    float:right;
    transform: translate(5px, 0px);
}
.flags > img {
    max-height: 30px;
    border: 1px solid rgba(0,0,0,0.4);
}

#en{
    background:url("images/en.png");
    percentage:10%;
}


#ch{
    background:url("images/ch.png");
    percentage:10%;
}


#sv{
    background:url("images/sv.png");
    percentage:10%;
}
#animationReel {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}


tr, td {
    padding: 30px;
    text-align: left;
    color: red;
}

.btLevel{
    padding: 30px;
    text-align: left;
    text-anchor: auto;
    border: 0px;
    font-size: 30px;
    color: blueviolet;
    border-radius: 50%;
}

.btLevel:hover{
    background-color: #f6931f;
}

.levelBg{
    background: url(images/levelBg.jpg);
    background-position: 100%,100%;
    background-repeat: repeat;
}


* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


ul {
    margin: 30px auto;
    text-align: center;
}

li {
    list-style: none;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
}

@-moz-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-webkit-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@-o-keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

.round {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(255,255,255,.7);
    letter-spacing: -.065em;
    font-family: "Hammersmith One", sans-serif;
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    box-shadow: 2px 2px 7px rgba(0,0,0,.2);
    border-radius: 300px;
    z-index: 1;
    border-width: 4px;
    border-style: solid;
}

.round:hover {
    width: 130%;
    height: 130%;
    left: -15%;
    top: -15%;
    font-size: 33px;
    padding-top: 38px;
    -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -o-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
    z-index: 2;
    border-size: 10px;
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
}

a.red {
    background-color: red;
    color: indianred;
    border-color: mediumvioletred;
}

a.red:hover {
    color: #FFF8DC;
}

a.green {
    background-color: green;
    color: greenyellow;
    border-color: lightseagreen;
}

a.green:hover {
    color: #FFF8DC;
}

a.yellow {
    background-color: yellow;
    color: greenyellow;
    border-color: lightgoldenrodyellow;
}

a.yellow:hover {
    color: #FFF8DC;
}

.round span.round {
    display: block;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    font-size: 1px;
    border: none;
    padding: 40% 20% 0 20%;
    color: #fff;
}

.round span:hover {
    opacity: .85;
    font-size: 16px;
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,.5);
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

.green span {
    background: rgba(0,63,71,.7);
}

.red span {
    background: rgba(133,32,28,.7);
}

.yellow span {
    background: rgba(161,145,0,.7);

}

.leveltitle{
    height: 70px;
    width:110%;
    margin:-10%;
}

#titleImage{
    background: url("images/titletrain.gif")
}

h1 {
    color: #f44336;
    font-family: "Great Vibes", cursive;
    font-size: 130px; line-height: 130px;
    font-weight: normal; margin-bottom: 0px;
    margin-top: 40px; text-align: center;
    text-shadow: 0 1px 1px #fff;
}

.container{
    width: 100%;
    height:100%;
    left:40%;
    top:30%;
}


/*Added by Nils*/
#gameTable {
    border-collapse: collapse;
    background-image: url("tiles/background_200.png");
}

#gameTable tr, #gameTable td, .tile {
    border: 0;
    margin: 0;
    padding: 0;
}
/**/
