html, body {
    background-color: rgb(250,250,250);
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
    font-family: 'Raleway', sans-serif;
    overflow:hidden;
}
.main {
    float:left;
    width:75%;
    height:100%;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.displayed {
    display: block;
    background-color: #3e8e41;
    margin-left: auto;
    margin-right: auto;
    padding: 200px ;
    background-color: #3e8e41;
}
.scroll{
    overflow: scroll;
}

.displayed:hover{
    background-color: #0099cc;
}

.flags {
    float:top;
    transform: translate(520px, 40px);

}

.flags > img {
    max-height: 30px;
    border: 1px solid rgba(0,0,0,0.4);
}
.w3-container,.w3-panel{
    padding:0.01em 16px
}
.w3-panel {
    margin-top:16px;margin-bottom:16px
}

#slider { margin: 10px;
    transform: translate(400px, -100px);
    background-color: #f6931f;
}


#slider-vertical { margin: 10px;
    transform: translate(500px, -100px);
    background-color: #f6931f;
}

.center {
    margin: auto;
    width: 50%;
}